body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/imagens/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.barraroxa {
    background-color: #7e4fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    position: relative;
    height: 80px;
}

.icones {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconesbarra, .iconesparteD {
    display: flex;
    gap: 20px;
}

.iconesbarra a, .iconesparteD a {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.iconesbarra a:hover, .iconesparteD a:hover, .logocentro a:hover {
    background-color: #d3b7ff;
}

.iconesbarra img, .iconesparteD img {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.logocentro {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7e4fff;
    border-radius: 0 0 40px 40px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.logocentro img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

.logocentro a {
    background: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.logoacapra {
    margin-top: 60px;
    text-align: center;
    color: #4e3a8c;
}

.logoacapra img {
    width: 180px;
    margin-bottom: 20px;
}

.logoacapra h1 {
    background-color: #7e4fff;
    color: white;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}



/* vai ter q mudar muita coisa aq, ta full zuado nada da certo nesse css q raivaaaaaaaaaaaaaaaaaaaaaaaaaaaaa   